body{
    margin:0px;
}
.col1{
    position:absolute;
    overflow: hidden;
    background:white;
    font-family:arial;
}
hr{
    height: 1px;
    padding: 0;
    border: 0;  
}

.vert{
    background: red;
    width:1px;

}

.present{
    margin-top:7px;

}
.titre{
    font-size:36px;	    
}
.calendrier{
    margin-top:7px;
}
h1, h2, p{ 
    margin:0px;
}
